In [232]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [491]:
testdf = pd.read_csv("test.csv")
traindf = pd.read_csv("train.csv")

In [492]:
traindf.head(10)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
5,1859,0,0.5,1,3,0,22,0.7,164,1,...,1004,1654,1067,17,1,10,1,0,0,1
6,1821,0,1.7,0,4,1,10,0.8,139,8,...,381,1018,3220,13,8,18,1,0,1,3
7,1954,0,0.5,1,0,0,24,0.8,187,4,...,512,1149,700,16,3,5,1,1,1,0
8,1445,1,0.5,0,0,0,53,0.7,174,7,...,386,836,1099,17,1,20,1,0,0,0
9,509,1,0.6,1,2,1,9,0.1,93,5,...,1137,1224,513,19,10,12,1,0,0,0

In [493]:
testdf.head(10)

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1
5,6,1464,1,2.9,1,5,1,50,0.8,198,...,9,569,939,3506,10,7,3,1,1,1
6,7,1718,0,2.4,0,1,0,47,1.0,156,...,3,1283,1374,3873,14,2,10,0,0,0
7,8,833,0,2.4,1,0,0,62,0.8,111,...,2,1312,1880,1495,7,2,18,0,1,1
8,9,1111,1,2.9,1,9,1,25,0.6,101,...,19,556,876,3485,11,9,10,1,1,0
9,10,1520,0,0.5,0,1,0,25,0.5,171,...,20,52,1009,651,6,0,5,1,0,1

In [494]:
print(traindf['px_height'].all())

False

In [495]:
traindf['px_height'].replace(0, traindf['px_height'].mean(), inplace=True)

In [496]:
print(traindf['px_height'].all())

True

In [497]:
traindf['px_size'] = np.round((traindf['px_height'] * traindf['px_width']), 2)
traindf.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,px_size
0,842,0,2.2,0,1,0,7,0.6,188,2,...,756,2549,9,7,19,0,0,1,1,15120.0
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,1988,2631,17,3,7,1,1,0,2,1799140.0
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1716,2603,11,2,9,1,1,0,2,2167308.0
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1786,2769,16,8,11,1,0,0,2,2171776.0
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1212,1411,8,2,15,1,1,0,1,1464096.0

In [498]:
traindf['px_size'] = traindf['px_size'] / 926

In [499]:
traindf.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,px_size
0,842,0,2.2,0,1,0,7,0.6,188,2,...,756,2549,9,7,19,0,0,1,1,16.328294
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,1988,2631,17,3,7,1,1,0,2,1942.915767
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1716,2603,11,2,9,1,1,0,2,2340.505400
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1786,2769,16,8,11,1,0,0,2,2345.330454
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1212,1411,8,2,15,1,1,0,1,1581.097192

In [500]:
traindf.drop(labels=['blue', 'dual_sim', 'm_dep', 'mobile_wt', 'talk_time', 'px_height', 'px_width'], inplace=True, axis=1)
testdf.drop(labels=['id', 'blue', 'dual_sim', 'm_dep', 'mobile_wt', 'talk_time', 'px_height', 'px_width'], inplace=True, axis=1)

In [506]:
print(traindf['sc_h'].all())
print(traindf['sc_w'].all())

True
False

In [507]:
traindf['sc_w'].replace(0, int(traindf['sc_w'].mean()), inplace=True)

In [508]:
print(traindf['sc_w'].all())

True

In [509]:
traindf['sc_size'] = np.round((traindf['sc_h'] * traindf['sc_w']), 2)
traindf.drop(['sc_h', 'sc_w'], axis=1, inplace=True)

In [510]:
traindf.head(10)

,battery_power,clock_speed,fc,four_g,int_memory,n_cores,pc,ram,three_g,touch_screen,wifi,price_range,px_size,sc_size
0,842,2.2,1,0,7,2,2,2549,0,0,1,1,16.328294,63
1,1021,0.5,0,1,53,3,6,2631,1,1,0,2,1942.915767,51
2,563,0.5,2,1,41,5,6,2603,1,1,0,2,2340.505400,22
3,615,2.5,0,0,10,6,9,2769,1,0,0,2,2345.330454,128
4,1821,1.2,13,1,44,2,14,1411,1,1,0,1,1581.097192,16
5,1859,0.5,3,0,22,1,7,1067,1,0,0,1,1793.321814,17
6,1821,1.7,4,1,10,8,10,3220,1,0,1,3,418.853132,104
7,1954,0.5,0,0,24,4,0,700,1,1,1,0,635.300216,48
8,1445,0.5,0,0,53,7,14,1099,1,0,0,0,348.483801,17
9,509,0.6,2,1,9,5,15,513,1,0,0,0,1502.902808,190

In [511]:
traindf.shape

(2000, 14)

In [512]:
traindf.all()

battery_power     True
clock_speed       True
fc               False
four_g           False
int_memory        True
n_cores           True
pc               False
ram               True
three_g          False
touch_screen     False
wifi             False
price_range      False
px_size           True
sc_size           True
dtype: bool

In [513]:
traindf['pc'].replace(0, np.round(traindf['pc'].mean(), 0), inplace=True)

In [514]:
traindf.head()

,battery_power,clock_speed,fc,four_g,int_memory,n_cores,pc,ram,three_g,touch_screen,wifi,price_range,px_size,sc_size
0,842,2.2,1,0,7,2,2,2549,0,0,1,1,16.328294,63
1,1021,0.5,0,1,53,3,6,2631,1,1,0,2,1942.915767,51
2,563,0.5,2,1,41,5,6,2603,1,1,0,2,2340.505400,22
3,615,2.5,0,0,10,6,9,2769,1,0,0,2,2345.330454,128
4,1821,1.2,13,1,44,2,14,1411,1,1,0,1,1581.097192,16

In [515]:
traindf['pc'].head()

0     2
1     6
2     6
3     9
4    14
Name: pc, dtype: int64

In [516]:
traindf.all()

battery_power     True
clock_speed       True
fc               False
four_g           False
int_memory        True
n_cores           True
pc                True
ram               True
three_g          False
touch_screen     False
wifi             False
price_range      False
px_size           True
sc_size           True
dtype: bool

In [517]:
traindf.head()

,battery_power,clock_speed,fc,four_g,int_memory,n_cores,pc,ram,three_g,touch_screen,wifi,price_range,px_size,sc_size
0,842,2.2,1,0,7,2,2,2549,0,0,1,1,16.328294,63
1,1021,0.5,0,1,53,3,6,2631,1,1,0,2,1942.915767,51
2,563,0.5,2,1,41,5,6,2603,1,1,0,2,2340.505400,22
3,615,2.5,0,0,10,6,9,2769,1,0,0,2,2345.330454,128
4,1821,1.2,13,1,44,2,14,1411,1,1,0,1,1581.097192,16

In [518]:
testdf.head()

,battery_power,clock_speed,fc,four_g,int_memory,n_cores,pc,ram,sc_h,sc_w,three_g,touch_screen,wifi
0,1043,1.8,14,0,5,3,16,3476,12,7,0,1,0
1,841,0.5,4,1,61,5,12,3895,6,0,1,0,0
2,1807,2.8,1,0,27,3,4,2396,17,10,0,1,1
3,1546,0.5,18,1,25,8,20,3893,10,0,1,1,0
4,1434,1.4,11,1,49,6,18,1773,15,8,1,0,1

In [519]:
testdf['sc_w'].replace(0, int(testdf['sc_w'].mean()), inplace=True)

In [520]:
print(testdf['sc_w'].all())

True

In [521]:
print(testdf['sc_h'].all())

True

In [522]:
testdf['sc_size'] = np.round((testdf['sc_h'] * testdf['sc_w']), 0)
testdf.drop(['sc_h', 'sc_w'], axis=1, inplace=True)

In [523]:
testdf.head()

,battery_power,clock_speed,fc,four_g,int_memory,n_cores,pc,ram,three_g,touch_screen,wifi,sc_size
0,1043,1.8,14,0,5,3,16,3476,0,1,0,84
1,841,0.5,4,1,61,5,12,3895,1,0,0,30
2,1807,2.8,1,0,27,3,4,2396,0,1,1,170
3,1546,0.5,18,1,25,8,20,3893,1,1,0,50
4,1434,1.4,11,1,49,6,18,1773,1,0,1,120

In [524]:
traindf.head()

,battery_power,clock_speed,fc,four_g,int_memory,n_cores,pc,ram,three_g,touch_screen,wifi,price_range,px_size,sc_size
0,842,2.2,1,0,7,2,2,2549,0,0,1,1,16.328294,63
1,1021,0.5,0,1,53,3,6,2631,1,1,0,2,1942.915767,51
2,563,0.5,2,1,41,5,6,2603,1,1,0,2,2340.505400,22
3,615,2.5,0,0,10,6,9,2769,1,0,0,2,2345.330454,128
4,1821,1.2,13,1,44,2,14,1411,1,1,0,1,1581.097192,16

In [525]:
traindf.drop(['px_size'], axis=1, inplace=True)

In [526]:
y_train = traindf['price_range']
traindf.drop(['price_range'], inplace=True, axis=1)

In [527]:
traindf.head()

,battery_power,clock_speed,fc,four_g,int_memory,n_cores,pc,ram,three_g,touch_screen,wifi,sc_size
0,842,2.2,1,0,7,2,2,2549,0,0,1,63
1,1021,0.5,0,1,53,3,6,2631,1,1,0,51
2,563,0.5,2,1,41,5,6,2603,1,1,0,22
3,615,2.5,0,0,10,6,9,2769,1,0,0,128
4,1821,1.2,13,1,44,2,14,1411,1,1,0,16

In [528]:
testdf.head()

,battery_power,clock_speed,fc,four_g,int_memory,n_cores,pc,ram,three_g,touch_screen,wifi,sc_size
0,1043,1.8,14,0,5,3,16,3476,0,1,0,84
1,841,0.5,4,1,61,5,12,3895,1,0,0,30
2,1807,2.8,1,0,27,3,4,2396,0,1,1,170
3,1546,0.5,18,1,25,8,20,3893,1,1,0,50
4,1434,1.4,11,1,49,6,18,1773,1,0,1,120

In [529]:
testdf.shape

(1000, 12)

In [530]:
traindf.shape

(2000, 12)

In [532]:
X_train = traindf

In [533]:
X_test = testdf

In [534]:
X_train.shape

(2000, 12)

In [535]:
y_train.shape

(2000,)

In [536]:
X_test.shape

(1000, 12)

## X_train & X_test

In [537]:
X_train.head()

,battery_power,clock_speed,fc,four_g,int_memory,n_cores,pc,ram,three_g,touch_screen,wifi,sc_size
0,842,2.2,1,0,7,2,2,2549,0,0,1,63
1,1021,0.5,0,1,53,3,6,2631,1,1,0,51
2,563,0.5,2,1,41,5,6,2603,1,1,0,22
3,615,2.5,0,0,10,6,9,2769,1,0,0,128
4,1821,1.2,13,1,44,2,14,1411,1,1,0,16

In [538]:
X_test.head()

,battery_power,clock_speed,fc,four_g,int_memory,n_cores,pc,ram,three_g,touch_screen,wifi,sc_size
0,1043,1.8,14,0,5,3,16,3476,0,1,0,84
1,841,0.5,4,1,61,5,12,3895,1,0,0,30
2,1807,2.8,1,0,27,3,4,2396,0,1,1,170
3,1546,0.5,18,1,25,8,20,3893,1,1,0,50
4,1434,1.4,11,1,49,6,18,1773,1,0,1,120

## y_train

In [539]:
y_train.head()

0    1
1    2
2    2
3    2
4    1
Name: price_range, dtype: int64

In [540]:
y_train.shape

(2000,)

In [550]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 50)
classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=50)

In [542]:
y_pred = classifier.predict(X_test)

In [543]:
y_predf = pd.DataFrame(y_pred)

In [544]:
y_predf.head()

   0
0  3
1  3
2  2
3  3
4  1

In [546]:
y_pred.min()

0

In [547]:
y_pred.max()

3

In [548]:
from sklearn.model_selection import train_test_split

cX_train, cX_test, cy_train, cy_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [551]:
classifier2 = RandomForestClassifier(n_estimators = 50)
classifier2.fit(cX_train, cy_train)

RandomForestClassifier(n_estimators=50)

In [552]:
y_pred2 = classifier2.predict(cX_test)

In [558]:
y_pred2 = pd.DataFrame(y_pred2)

In [559]:
y_pred2.head()

   0
0  0
1  2
2  1
3  3
4  1

In [562]:
from sklearn.metrics import accuracy_score
print("ACCURACY = {}".format(accuracy_score(cy_test, y_pred2)*100))

ACCURACY = 79.0

In [563]:
from sklearn.datasets import make_classification
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [566]:
cv = KFold(n_splits=10, random_state=1, shuffle=True)
model = RandomForestClassifier(n_estimators = 50)
scores = cross_val_score(model, X_train, y_train, scoring='accuracy', cv=cv, n_jobs=-1)

In [568]:
print(scores*100)

[76.5 78.5 81.  83.  77.5 79.5 82.  83.  80.5 76. ]

In [576]:
print("Mean Accuracy for the Model = {}".format(scores.mean()*100))

Mean Accuracy for the Model = 79.75